@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium + Web:300);

.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.75rem;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 25%;
  height: 36.31rem;
  overflow: hidden;
}

.main-menu {
  opacity: 90%;
  color: lightgray;
  background-color: #2d2d2d;
  position: relative;
  top: 0;
  height: 36.31rem;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
  margin: 2% 0;
}

.main-menu li > a {
  position: relative;
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-menu .nav-text {
    font-size: 1.24rem;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: relative;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  border-bottom: 2px solid #5fa2db;
  width: 75%;
  margin-left: 2%;
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}
